* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #8052ec, #d161ff);
}

html {
    font-size: 16px;
}

.wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

}

.container {
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
}

.button-option {
    background: #ffffff;
    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 8px;
    font-size: 12vmin;
    color: #8052ec;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    text-shadow: 3px 2px 5px #0a0027;
}

#restart {
    /* margin-top: 2em; */
    font-size: 1.5em;
    padding: 1em;
    border-radius: 8px;
    background-color: #0a0027;
    color: #ffffff;
    border: none;
    position: relative;
    margin: 1.5em auto 0 auto;
    display: block;
    text-shadow:2px 3px 10px #ffffff;

}

.popup {
    background: linear-gradient(135deg, #8052ec, #d161ff);
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 12vmin;
    font-size: 12vmin;
    text-shadow: 5px 5px 10px black;
}

#new-game {
    font-size: .6em;
    padding: 0.5em 1em;
    background-color: #0a0027;
    color: #ffffff;
    border-radius: .2em;
    border: none;
    box-shadow:5px 5px 10px #310d85;
}

#message {
    color: #ffffff;
    text-align: center;
    font-size: 1em;
}

.popup.hide {
    display: none;
}

.heading {
    font-size: 2.5em;
    text-align: center;
    text-shadow: 2px 3px 7px #51b4e5;

}